body{
    margin-top: -32px;
    padding: 0px;
}
.header{
    
    /* background-origin: border-box; */
    /* background-repeat: repeat; */
    color:red;
    font-size:xx-large;
    font-family: sans-serif;
    align-items: center;
    text-align: center ;
    margin-top: 0px;
   
}
.header2{
    background-image: url(813296022908d0d4adaa55a4eaf5207a.gif);
    background-position: center;
    background-size:contain;
    color: red;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0.9;
}
.headernav{
    background-color: black;
    border-bottom: 3px solid red;
    text-align: center;
    height: 50px;
    /* margin-left: 200px; */
}
.headernav ul li{
    list-style: none;
    display: inline-block;
    align-items: center;
    color: white;
    font-size: medium;
    font-family: sans-serif;
    margin:0.8rem;
    text-indent:0.2rem;
    transition: 0.5s;
  
}
.headernav ul li:hover{
    border-bottom: 3px solid red;
    color: whitesmoke;

}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
section:nth-child(2n)
{
    background-color:black;
    color: white;
}
section:nth-child(2n+1)
{
    background-color:white;
    color:black;
}
.sectionabout
{  
   width:70%;
   color:black;
   text-indent: 1rem;
   font-family: sans-serif;
   font-weight: bold;
   text-align: center;
   margin: 20px;
   display: flex;
   letter-spacing: 0.05rem;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.divabout{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    font-weight: 1.2rem;
}
.sectionskills
{
   color:black;
   text-indent: 1rem;
   font-family: sans-serif;
   display: flex;
   font-weight: bold;
   align-items: center;
   text-align: center;
   width:100%;
   justify-content: center;
}
.sectioneducation
{
   color:black;
   text-indent: 1rem;
   font-family: sans-serif;
   font-weight: bold;
   text-align: center;
   
}
.diveducation{
    display: inline-block;
   justify-content: center;
   align-items: center;
}
#div1{
    height: 30px;
    width:120px;
    background-color:red;
    border-radius: 25px;
}
#div2{
    height: 30px;
    width:120px;
    background-color:deepskyblue;
    border-radius: 25px;
}
#div3{
    height: 30px;
    width:120px;
    background-color:green;
    border-radius: 25px;
    align-items: center;
}
#div4{
    height: 30px;
    width:120px;
    background-color:red;
    border-radius: 25px;
    align-items: center;
}
#div5{
    height: 30px;
    width:120px;
    background-color:deepskyblue;
    border-radius: 25px;
    align-items: center;
}
#div6{
    height: 30px;
    width:120px;
    background-color: green;
    border-radius: 25px;
    align-items: center;
}
#div7{
    height: 30px;
    width:120px;
    background-color:red;
    border-radius: 25px;
    align-items: center;
}
@keyframes id1{
    0%{
        width:10%;
    }
    100%{
        width: 75%;
    }
}
@keyframes id2{
    0%{
        width:10%;
    }
    100%{
        width: 80%;
    }
}
@keyframes id3{
    0%{
        width:10%;
    }
    100%{
        width: 65%;
    }
}
@keyframes id4{
    0%{
        width:10%;
    }
    100%{
        width: 95%;
    }
}
@keyframes id5{
    0%{
        width:10%;
    }
    100%{
        width: 65%;
    }
}
@keyframes id6{
    0%{
        width:10%;
    }
    100%{
        width: 105%;
    }
}
@keyframes id7{
    0%{
        width:10%;
    }
    100%{
        width: 80%;
    }
}
#id1 {
    /* width:75px; */
    animation-name: id1;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate;
    animation-delay: 0.5s;
    width: 75%;
}
#id2{
    width:80px;
    animation-name: id2;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1.5s;
}
#id3{
    width:65px;
    animation-name: id3;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 2.5s;
}
#id4{
    animation-name: id4;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.5s;
    width: 95px;
}
#id5{
    animation-name: id5;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1.5s;
    width: 65px;
}
#id6{
    animation-name: id6;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 2.5s;
    width:105px ;
}
#id7{
    animation-name: id7;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.5;
    width:80px ;
}
.innerdiv{
    height: 30px;
    width: 0px;
    color:black;
    font-family: sans-serif;
    background-color:white;
    border-radius: 25px 0 0 25px;
    align-items: center;
}
#divskills{
    width: 65vw;
    height: 400px;
    border:red 2px solid;
    box-shadow: 10px 0px 10px 0px lightcoral;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    
}
#imgtag img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: -250px;
    margin-left: -80px;
    box-shadow: 10px 0px 10px 0px lightgrey;
}
.diveducation ul {
    list-style: none;
    align-items: center;
    text-align: center;
    padding:0px;
    margin-left:-30px;   
}
.diveducation ul li{
    display: inline-block;
}
.divskills1 ul {
    list-style: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:0px;
    margin-left:-30px;
}
.divskills1 ul li{
    display: inline-block;
}
h2{
    margin-left: -12px;
}

.contactdiv
{
    text-align: center;
    font-family: sans-serif;
    background: black;
    color: red;
}
.contactdiv ul li{
    list-style: none;
    display: inline-block;
}
.contactdiv3{
    width: 40vw;
    height: 40vh;
    border: 2px solid red;
    box-shadow: 10px 0px 10px 0px red;

}
.contactdiv2{
    width: 40vw;
    height: 40vh;
    border: 2px solid red;
    box-shadow: 10px 0px 10px 0px red;
}
.contactdiv1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#form1 ul li {
    /* margin: 5px; */
    /* margin-left: -20px; */
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items:center;
    align-items: center;
    align-content: space-between;
    font-family: sans-serif;
    list-style: none;
}
input{
    border-radius: 25px;
    border: 2px solid red;
    justify-content: center;
    text-align: center;
}
.icons ul li{
    margin-top: 100px;
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    padding: 10px;
}
.icons ul li a{
    color: red;
}
.icons ul li a:hover{
    border-radius: 50% solid 2px red;
    box-shadow: 10px 0px 10px 0px red;
    
}
.headernav ul li a{
    border: 0px;
    color: red;
    font-family: sans-serif !important;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;

}
.headernav ul li a:link{
    border-bottom: none;
}
.educationdiv{
    width:75vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05rem;
}
.educationdiv div:nth-child(2n+1)
{
    width:35vw;
    border: red 2px solid;
    margin-left: -500px;  
}
.educationdiv div:nth-child(2n){
    width: 35vw;
    border: red 2px solid;
    margin-left: 600px;
    margin-top: 20px;
}
@media screen and (max-width:576px){

    #imgtag img{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        margin-top: -350px;
        margin-left: -120px;
        box-shadow: 10px 0px 10px 0px lightgrey;
    }
    .educationdiv div:nth-child(2n){
        background:black;
        width: 80vw;
        border: red 2px solid;
        margin-left: 0px;
        margin-top: 20px;
        color: red;
        font-family: sans-serif;
        text-align: start;
    }
    .educationdiv div:nth-child(2n+1){
        width: 80vw; 
        margin-left: 0px;
        color: red;
        background:black;
        text-align: start;
    }
    .contactdiv1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        justify-items: center;
        /* width: 90vw; */
    
    }
    .contactdiv3{
      
        width: 80vw;
        height: 60vh;
        border: 2px solid red;
        box-shadow: 10px -10px 10px -10px red;
    
    }
    .contactdiv2{  
        margin-top: 50px;
        width: 80vw;
        height: 60vh;
        border: 2px solid red;
        box-shadow: 10px 0px 10px 0px red;
    }
    #form1 ul li {
        /* margin: 5px; */
        /* margin-left: -20px; */
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        justify-items:center;
        align-items: center;
        align-content: space-between;
        font-family: sans-serif;
        list-style: none;
        margin-left: -20px;
    }
  textarea{
      margin-left: -20px;
  }
  .icons ul li{
    margin-top: 50px;
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    padding: 10px;
}
body{
    margin-top: -32px;
    margin-left: -10px;
}
.divabout{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

}

}
    
