<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <style>
        header{
            padding-left: 50px;
            background-color: black;
            border-radius: 25px 25px 0% 0%;
            /* height: auto; */
            color:red;
        }
        .section_common{
            font-family: sans-serif;
            color: red;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            justify-items: center;
            align-content: center;
        }
        .icons ul li 
        {
            padding: 10px;
            display: inline-block;
            color: red;
        }
        .icons ul li a{
            color: red;
        }
        footer{
            background-color:black;
            min-height: auto;
            border-radius: 0px 0px 25px 25px;
        }
        .section_main{
            height: 70vh;
            justify-content:left;
            align-content: flex-start;
            text-align: left;
            padding: 10px;
            background-color: whitesmoke;
            color: black;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <header> <section class="section_common ">
        <p>Welcome !!!</p>
    </section></header>
    <main> <section class="section_common section_main">
        <p><b> Hii , </b>
       <br><br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, minima.
         <br><br><br> Thanks for visting us</p> 
    </section></main>
    <footer>
        <section class="section_common">
           <div><p>tarunvats.in</p></div>
            <div class="icons">
                <ul>
                    <li><a href="https://twitter.com/Tarunvats0012?t=ZnGDT8aNKMzKH7Lb5HhezA&s=09" target="true"><i class="fab fa-twitter"></i></a></i></li>
                    <!-- <li><a href="http://wa.me/+919068855059" target="true"><i class="fab fa-whatsapp"></i></a></li> -->
                    <li><a href="https://www.linkedin.com/in/tarun-sharma-4a2763207/" target="true"><i class="fab fa-linkedin "></i></a></li>
                    <li><a href="https://www.instagram.com/tarun4938/" target="true"><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href="https://github.com/Tarunvats9068" target="true"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </section>
    </footer>
</body>
</html>