<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <title>Resume</title>
</head>
<body>
    <header class="header">
    <section class="headersection"><div class="header1">
        <div class="header2">
            <nav class="headernav"><ul>
            <li><a href="#">Home</a> </li>
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul></nav>
        <h1><span class="name"><marquee hspace="20px" behavior="alternate" scrollamount="10"  direction="all">Hii, This is Tarun Sharma Here Im a full Stack Web Develpoer</marquee> </span> </h1>
        <div class="icons">
            <ul>
                <li><a href="https://twitter.com/Tarunvats0012?t=ZnGDT8aNKMzKH7Lb5HhezA&s=09" target="true"><i class="fab fa-twitter"></i></a></i></li>
                <!-- <li><a href="http://wa.me/+919068855059" target="true"><i class="fab fa-whatsapp"></i></a></li> -->
                <li><a href="https://www.linkedin.com/in/tarun-sharma-4a2763207/" target="true"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/tarun4938/" target="true"><i class="fab fa-instagram-square"></i></a></li>
                <li><a href="https://github.com/Tarunvats9068" target="true"><i class="fab fa-github"></i></a></li>
            </ul>
        </div>
    </div>
        
    </div>
</section>
    </header>
    <main>
        <section class="sectionabout" id="about">
            <div class="divabout">
           <h2>About</h2> 
           <div id="imgtag"><img src="../assets/img/WhatsApp Image 2021-11-02 at 14.25.18.jpeg" alt="my image"></div>
           <div>
               <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
           </div>
        </div></section>
        <section class="sectionskills" id="skills">
            <div class="sectionskillsall">
            <div class="divskills1">
                <ul>
                <li><i class="fas fa-laptop-code"></i></li>
                <li><h2>Skills</h2></li>  
                </ul></div>
            <div id="divskills">
        <div id="div1"><div id="id1" class="innerdiv"></div>C</div>
        <div id="div2"><div id="id2" class="innerdiv"></div>C++</div> 
        <div id="div3"><div id="id3" class="innerdiv"></div>PYTHON</div> 
        <div id="div4"><div id="id4" class="innerdiv"></div>JAVASCRIPT</div> 
        <div id="div5"><div id="id5" class="innerdiv"></div>NODEJS</div> 
        <div id="div6"><div id="id6" class="innerdiv"></div>HTML</div> 
        <div id="div7"><div id="id7" class="innerdiv"></div>CSS</div> 
     </div> </div> </section>
        <section class="sectioneducation" id="education"><div class="diveducation">
            <ul>
            <li><i class="fas fa-book-open"></i></li>
            <li><h2>Education</h2></li>
            </ul> </div>
          <div class="educationdiv"><div>
            <table>
                <tr>
                  <th>Degree/Grad </th>
                  <th>Institution </th>
                  <th>Score</th>
                </tr>
                <tr>
                  <td>B.Tech CSE(pursuing)</td>
                  <td>IIIT Dharwad</td>
                  <td>8.0/10 CPI(2024)</td>
                </tr>
                <tr>
                  <td>Senior Secondary</td>
                  <td>CBSE (PANIPAT)</td>
                  <td>80%(2019)</td>
                </tr>
                <tr>
                    <td>Secondary(High School)</td>
                    <td>CBSE (PANIPAT)</td>
                    <td>9.0 CGPA (2017)</td>
                  </tr>
              </table>
          </div>
        <!-- <div>Lorem ipsum dolor sit amet consectetur adipisi</div></div>    -->
        </section>
    </main>
    <footer>
        <section>
            <div class="contactdiv" id="contact">
                <ul>
                    <li><i class="far fa-address-card"></i></li>
                    <li><h1>Contact</h1></li>
                </ul>
            
          
            <!-- <div class="contactdiv1"><div class="contactdiv3"><h1>Details</h1> 
                <div id="form1">
                    <form action="/users/send_mail" method="post">
                        <ul>
                            <li><label for="email">Email : </label></li>
                            <li><input type="email" name="email" placeholder="Enter your email" id=""></li>
                            <li><label for="">Enter your comment :</label></li>
                            <li><textarea name="mail_send" id="send_mail" cols="30" rows="5" placeholder="Enter your query" ></textarea></li>
                            <li> <input type="submit" ></li>   
                    </ul>
                    </form>
                </div>
            </div>
            <div class="contactdiv2"><h1>Address</h1>
                <div>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi cupiditate deserunt numquam molestiae laudantium sed possimus recusandae veritatis nam dolore modi doloribus laborum, nemo sint fuga laboriosam earum! Assumenda quae, et obcaecati qui est ipsa odit temporibus suscipit ratione perferendis sunt vero beatae dolor culpa quasi ipsam ex cupiditate mollitia.
                </div></div>
             
        </div> -->
        </div>
            
        </section>
    </footer>
</body>
</html>